.PrintView-GeneralInformation-Edit {
 display: flex;
 flex-direction: column;
 width: max-content;
 margin-left: auto;
 margin-right: auto;
 background-color: #56e3e3;
}
.PrintView-EducationalExperience-Edit {
 display: flex;
 flex-direction: column;
 width: max-content;
 margin-left: auto;
 margin-right: auto;
 background-color: #56e3e3;
}
.PrintView-PracticalExperience-Edit {
 display: flex;
 flex-direction: column;
 width: max-content;
 margin-left: auto;
 margin-right: auto;
 background-color: #56e3e3;
}