.PrintView-GeneralInformation-Edit {
 display: flex;
 flex-direction: column;
 width: max-content;
 margin-left: auto;
 margin-right: auto;
}
.PrintView-EducationalExperience-Edit {

}
.PrintView-PracticalExperience-Edit {
    
}