.PrintView-GeneralInformation-List {
 background-color: blue;
}
.PrintView-EducationalExperience-List {
    background-color: gray;
}
.PrintView-PracticalExperience-List {
    background-color: orange;
}